{% load static %}
{% load filter %}
<!DOCTYPE html>
<html lang="en">
{% include "includes/head.html" %}
    {% block link %}{% endblock link %}
    <title>{% block title %}Vaze{% endblock title %}</title>
</head>
<body {% block body_attrs %}{% endblock %}>

    {% include "includes/nav_topbar.html" %}

    <main>
        {% block content %}{% endblock content %}
    </main>

    {% include "includes/nav_bottom_bar.html" %}

    {% block script %}{% endblock script %}

    {% include "includes/scripts_base.html" %}

</body>
</html>
